# The following two are optional
#   for development, docker-compose will spin up a local evaluator
GOOGLE_EVALUATOR_SERVICE_ACCOUNT_EMAIL=aaaa-bbbb@xxxx.iam.gserviceaccount.com
GOOGLE_EVALUATOR_SERVICE_ACCOUNT_PRIVATE_KEY_BASE64=LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCm1pc2xpcwotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
